body {
    margin: 0;
    background-color: rgb(12, 8, 8);
    display: flex;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(57, 5, 106);
    width: 100vw;
}

header img {
    width: 30px;
    height: auto;
}

input[type="checkbox"] {
    width: 50px;
    height: 25px;
    appearance: none;
}