body {
    margin: 0;
    background-color: white;
    display: flex;
    transition: background-color 0.4s;
}

.modo-escuro {
    background-color: rgb(12, 8, 8);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #150026, #001633);
    width: 200vw;
    height: 10vh;
}


header img {
    width: 40px;
    height: auto;
    margin-left: 10px;
    filter: invert(70%);
    transition: transform 0.5s ease, filter 1s ease;
}

 header img:hover{
    transform: scale(1.3);
        filter: invert(18%) sepia(94%) saturate(7480%) hue-rotate(314deg) brightness(102%) contrast(104%);
 }
header h1 {
    display: flex;
    margin-right: 570px;
    font-family: sans-serif;
    color: #FFF;
}

.saida {
    width: 50px;
    height: auto;
    margin-top: -30px;
    margin-left: -20px;
    filter: invert(70%);
    transition: transform 0.5s ease, filter 1s ease;
}

.saida:hover{
    transform: scale(1.3);
        filter: invert(18%) sepia(94%) saturate(7480%) hue-rotate(314deg) brightness(102%) contrast(104%);
 }

input[type="checkbox"] {
    margin-left: 1200px;
    appearance: none;
    width: 65px;
    height: 32px;
    background: linear-gradient(91deg, #ff01a5d4, #4b00ffd4); 
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    transition: .5s;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50%;
    left: 2.5px;
    top: 2px;
    transition: .5s;
}

input[type="checkbox"]::after {
    content: "ON";
    position: absolute;
    color: #fff;
    font-size: 10px;
    left: 10px;
    top: 10px;
    transition: .5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="checkbox"]:checked {
    background: linear-gradient(91deg, #030e24d4, #500120d4);
}

input[type="checkbox"]:checked::before {
    /*background: #53032e;*/
    background: linear-gradient(30deg, rgb(7, 7, 129), rgb(121, 6, 29));
    left: 34px;
}

input[type="checkbox"]:checked::after {
    content: "OFF";
    color: #969cb9;
    left: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  SIDEBAR  */
#sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: linear-gradient(90deg, #150026, #001633);
    padding: 20px;
    transition: 0.4s ease;
    z-index: 1000;
}

#sidebar.open {
    left: 0;
}

#sidebar button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}

/* LISTA */
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    margin: 15px 0;
}

#sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* OVERLAY */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#overlay.show {
    display: block;
    z-index: 900;
}